.DS_Store
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
TetherScreenRecording.mp4
Screenshots
annotation.imageset
AppIcon.appiconset
arrow.imageset
Compass Images
Completion Ring
Add Tether.png
Add Tether@2x.png
Add Tether@3x.png
/Tether/Assets.xcassets/Add Tether.imageset/Add Tether@2x.png
